.footer-section {
    background: rgb(43 43 43 / 50%);
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2.footer-section--title {
    font-family: 'Mainfont';
    text-align: center;
    margin-bottom: 0;
    font-size: 2.2rem;
    margin-top: 0;
}
button.aboutus-link {
    padding: 1rem 2.2rem;
    transition: 0.5s all;
    font-weight: 700;
    border-radius: 5px;
    background: rgb(255 255 255 / 98%);
    font-family: 'Mainfont';
    cursor: pointer;
    position: relative;
}
.footer-content p {
    font-family: 'Mainfont';
    margin-top: 5px;
    margin-bottom: 25px;
}
.footer-content {
    padding: 3.5rem 1.5rem;
}