.hero-banner {
    position: relative;
}
.hero-title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1.hero-section--tittleheading {
    text-align: center;
    font-weight: 700;
    font-size: 102.75px;
    letter-spacing: -5.1px;
    text-transform: inherit;
    background: linear-gradient(90deg, rgba(129,21,255,1) 0%, rgba(255,42,208,1) 52%, rgba(255,143,42,1) 100%);
    -webkit-background-clip: text;
    color: #000000;
    -webkit-text-stroke: 4px transparent;
    width: fit-content;
    margin: 0 auto;
    padding: 0 5px;
}
p.hero-section--subheading {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: system-ui;
}