* {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(./Assets/Fonts/Peralta-Regular.ttf);
} */
body {
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

span.top-bar--toggler {
  position: fixed;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, rgba(129, 21, 255, 1) 0%, rgba(255, 42, 208, 1) 50%, rgba(255, 143, 42, 1) 100%);
  padding: 1rem;
  z-index: 9899999;
}

.mt-15 {
  margin-top: 15px !important;
}

h2.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
  background: linear-gradient(90deg, rgba(129, 21, 255, 1) 0%, rgba(255, 42, 208, 1) 50%, rgba(255, 143, 42, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 55px;
}

h2.section-title::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 50%;
  height: 2px;
  transform: translate(-50%, -50%);
  width: 180px;
  background: #fff;
}

.main-layout {
  max-width: 1360px;
  margin: 0 auto;
}

h2.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
  background: linear-gradient(90deg, rgba(129, 21, 255, 1) 0%, rgba(255, 42, 208, 1) 50%, rgba(255, 143, 42, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 55px;
}



/* ------- */

.page-banner--container h1 {
  font-size: 3.2rem;
  text-align: center;
}

.aboutus-content--container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 3.5rem 0;
  max-width: 1200px;
}

h1.page-notfound--title {
  text-align: center;
  font-weight: 700;
  font-size: 102.75px;
  letter-spacing: -5.1px;
  text-transform: inherit;
  background: linear-gradient(90deg, rgba(129, 21, 255, 1) 0%, rgba(255, 42, 208, 1) 52%, rgba(255, 143, 42, 1) 100%);
  -webkit-background-clip: text;
  color: #000000;
  -webkit-text-stroke: 4px transparent;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 5px;
}

.page-notfound--subtitle {
  text-align: center;
  font-size: 2rem;
}

.page-banner--container {
  /* background-color: #373737; */
  /* background-image: url("data:image/svg+xml,%3Csvg width=%27100%27 height=%27100%27 viewBox=%270 0 100 100%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z%27 fill=%27%23000000%27 fill-opacity=%270.25%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E"); */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-content--container p {
  line-height: 1.2rem;
}